div#contentDiv {
	position:relative;
	display:inline-block;
	width:100%;
	heigh:100%;
}

div.testGroup {
	position:relative;
	display:inline-block;
	background: #000000;
	width: 100%;
	text-align:center;
	color:white;
}

div.resultName {
	position:relative;
	display:inline-block;
	background: #ffffff;
	width: 20%;
}

div.resultOkay {
	position:relative;
	display:inline-block;
	background: #00ff00;
	width: 10%;
}

div.resultFailed {
	position:relative;
	display:inline-block;
	background: #ff00ff;
	width: 10%;
}

div.resultMessage {
	position:relative;
	display:inline-block;
	background: #ffffff;
	width: 65%;
}