
body {
    font-family: arial;
}

.testTableContainer {
    width:60%;
    margin: auto;
    
}

.testTableContainer table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
    
}
.testTableContainer table, th, td{
    border: 1px solid black;
    padding: 0.5em;
}

.testTableContainer button{
    background: #055D00;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    
    
}

.testTableContainer button:hover{
    background: #078800;
    border-radius:4px;
}
