/*
   CSS File
   
   Group 3
   Capstone Project
   
   FileName: main.css
*/
body {font-family:arial; cursor: crosshair}
#game       {margin: auto; width: 30%}
table td    {border: 1px solid black; width: 30px; height: 30px;}z
.sectionblock{
	display:inline-block;
	width:100%;
}
.centerblock{
	text-align:center;
}
.mainbody{
	width:85%;
	display:inline-block;
	border:0px
}
.paddingTopBottom{
    padding-top: 10px;
    padding-bottom: 10px;
}
.paddingBottom10{
    padding-bottom: 10px;
}
.paddingBottom20{
    padding-bottom: 20px;
}

.textBoxFormat .textBox{
    text-align: center;
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 8%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
.blueButton .button {
    background: #1975FF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    
}
.blueButton .button:hover {
    background: #4791FF;
    border-radius:30px;
}