/*
   CSS File
   
   Group 3
   Capstone Project
   
   FileName: main.css
*/
body {font-family:arial;}
#game       {margin: auto; width: 30%}
table td    {border: 1px solid black; width: 30px; height: 30px;}z
.sectionblock{
	display:inline-block;
	width:100%;
}
.centerblock{
	text-align:center;
}
.mainbody{
	width:85%;
	display:inline-block;
	border:0px
}
.paddingTopBottom{
    padding-top: 10px;
    padding-bottom: 10px;
}
.paddingBottom10{
    padding-bottom: 10px;
}
.paddingBottom20{
    padding-bottom: 20px;
}

.textBoxFormat .textBox{
    text-align: center;
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 8%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
.blueButton .button {
    background: #1975FF;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    
}
.blueButton .button:hover {
    background: #4791FF;
    border-radius:30px;
}

.tableFormatting {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.tableFormatting td{    
    border: none; 
}
.tableFormatting .textArea{
    resize: none;
    background-color: white;    
}
.tableFormatting .select{
    height:158px         
}
.lobbyOptions{
    width:80%;
    display: -moz-box;
}
.lobbyOptions{
    width:80%;
    display: -webkit-inline-box;     
}
/* Basic Grey Form Style */
.basic-grey {
    width: 863px;
    margin-right: auto;
    margin-left: auto;
    background: #EEE;
    padding: 20px 30px 20px 30px;
    font: 12px Arial, Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DADADA;
}
.basic-grey h1 {
    font: 25px Arial, Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px 0px 5px;
}
.basic-grey label>span {    
    width: 90%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
.basic-grey textarea{
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
    height:150px;
}
.basic-grey .text{
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 50%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
.basic-grey .hiddentext{
border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;

}
.basic-grey .table {
    border: none;
}