
html {
    height: 100%;
    background:linear-gradient(#AAAADD, #0000AA);
}
#container {
    width: 100%;
    height: 100%;
    margin-top: 0;
}
#top{
    vertical-align: top;
    text-align: center;
}
#main {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%; 
    background: black;
}
#bottom {
   position: absolute;
   bottom: 3%;
   width: 99%;
   text-align: center;
   color: white;
}

