/*
   CSS File
   
   Group 3
   Capstone Project
   
   FileName: main.css
*/

html, body{
    height: 99%;
    font-family:'Titillium Web', sans-serif;
    margin-top: 0.4em;
    margin-bottom: 0;
    min-width: 1085px;
}

#lobbyBoxContainment{
    padding: 1em;
}
.mainLobbyBody{
    font-family:'Titillium Web', sans-serif;
    width: 90%;
    height: 100%;
    margin: auto;
}
.mainGameBody{
    font-family:'Titillium Web', sans-serif;
    width: 90%;
    height: 100%;
    margin: auto;
}
.headerBar{
    background-color: #2E2E2E;
    width: 100%;
    font-family:'Titillium Web', sans-serif;
    color: white;
    display: table;
    table-layout: fixed;
}

.playerNumbers{
    padding: 1.5em;
    padding-left: 1em;
    display: table-cell;
    text-align: left;
}

.headerTitle{
    display: table-cell;
    text-align: center;
    font-size: 1.5em;
}

#headerUser{
    padding: 1.5em;
    padding-right: 1em;
    display: table-cell;
    text-align: right;
}
.lobbyContent{
    width: 100%;
    height: 80%;
    
}

#playerList{
    display: inline-block;
    background-color:#E6E6E6; 
    width: 25%;
    height: 100%;
    margin-right: -4px;
    overflow: hidden;
}

.playerObject{
    display: inline-block;
    width: 70%;
    height: 1.5em;
    background-color: white;
    margin-left: 15%;
    margin-top: 1em;
    line-height: 0.5em;
}
#createGameBox{
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%,-50%);
}
#createGameBox input{ 
    font-size: 20px;
}
#createGameBox button{
    background: #335C85;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
}
#createGameBox button:hover{
    background: #4791FF;
    border-radius:30px;
}

.playerObjectColour{
    display: inline-block;
    width: 15%;
    height: 100%;
    height: inherit;
    
}

.playerObjectUsername{
    display: inline-block;
    font-size: 13px;
    vertical-align: super;
    font-weight: bold;
}

.headerPlayerObject{
    display: inline-block;
    width: 50%;
    height: 1.5em;
    margin-left: 15%;
    margin-top: 1em;
    line-height: 0.5em;
    padding-right: 1.5em
    
}
.headerPlayerObjectColour{
    display: inline-block;
    width: 15%;
    height: 100%;
    height: inherit;
}

.headerPlayerObjectUsername{
    display: inline-block;
    vertical-align: super;
    font-family:'Titillium Web', sans-serif;
}

#lobbyList{
    display: inline-block;
    background-color:#2E2E2E;
    width: 50%;
    height: 100%;
    vertical-align: top;
    margin-right: -4px;
    overflow-y: auto;
}

#chatList{
    display: inline-block;
    background-color:#E6E6E6; 
    width: 25%;
    height: 100%;
    margin-right: -4px;
    overflow: hidden;    
}
.chatUser{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    word-wrap: break-word;
    margin-left: 1em;
    margin-top: 1em;
}

.chatMessage{
    display: inline-block;
    width: 65%;
    word-wrap: break-word;
    margin-top: 1em;
}
.chatList textarea{
    width: 90%;
    margin-left:2.5%;
    height:100%;
    background-color: #E6E6E6;
    border: none;
    resize: none;
}
.playerList textarea{
    width: 90%;
    margin-left:2.5%;
    height:100%;
    background-color: #E6E6E6;
    border: none;
    resize: none;
}
.lobbyBox {
    width:80%;
    height: 40px;
    border:1px solid #000000;
    background-color: #999999;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 1em;
}

.lobbyBoxTitle{ 
    
}

.lobbyBoxData{
    float:right;
}

.footerBar{
    background-color:#E6E6E6; 
    width: 100%;
    height: 7%;
    display: table;
}

.footerPlayers{
    display: table-cell;
    width: 25%;
}

.footerLobby{
    vertical-align: middle;
    display: table-cell;
    width: 50%;
}

.footerChat{
    vertical-align: middle;
    display: table-cell;
    width: 25%;
}
.footerChat input{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    padding: 0.3em;
    font-size: 15px;
    font-family:'Titillium Web', sans-serif;
    padding-left: 1em;
    width: 70%;
    margin-left: 10%
         
}

.footerLobby .button {
    background: #335C85;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    
}

.footerLobby .button:hover {
    background: #4791FF;
    border-radius:30px;
}



/*
    This code deals with making custom scroll bars
    This is used so that it works on other browsers  
    Rather then only webkit browsers
*/
.jspContainer
{
	overflow: hidden;
	position: relative;
    width:100%;
}

.jspPane
{
   position: absolute;
   width: 100%;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspTrack
{
	background: #D1D1D1;
	position: relative;
}

.jspDrag
{
	background: #999999; 
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.gameContainer {
    display: inline-block;
    width: 75%;
    margin-right: -4px;
    height: 100%;
    background-color: white;
}

.gameChatContainer {
    width: 25%;
    margin-right: -4px;
}

#gameChatList {
    display: inline-block;
    background-color:#E6E6E6; 
    width: 25%;
    height: 100%;
    margin-right: -4px;
    overflow: hidden;  
}

#gameFooterOptions {
    display: table-cell;
    width: 75%;
    vertical-align: middle;
    padding-left: 1em;
}
#gameFooterOptions button{
    background: #335C85;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    float: right;
    margin-right: 0.7em;
}
#gameFooterOptions button:hover{
    background: #4791FF;
    border-radius:30px;
}
#gameFooterOptions input{
    border: none;
    background: none;
    outline: 0;
    padding: 0.2em;
    font-size: 15px;
    font-family:'Titillium Web', sans-serif;
    padding-left: 1em;
    width: 8em;
}
#secondGameFooter{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 5%;
    background-color: #E6E6E6
}
#secondGameFooter input{
    border: none;
    background: none;
    outline: 0;
    padding: 0.2em;
    font-size: 15px;
    font-family:'Titillium Web', sans-serif;
    padding-left: 1em;
    width: 8em;
}
#deploymentDiv{
    display: table-cell;
    width:75%;
    padding-left: 1em;
    vertical-align: middle;
    
}
#secondFooterPlaceHolder{
    width: 25%;
    display: table-cell;
}

.gameFooterChat {
    width: 25%;
    display: table-cell;
    vertical-align: middle;
}
.gameFooterChat input{
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #848484;
    outline: 0;
    padding: 0.3em;
    font-size: 15px;
    font-family:'Titillium Web', sans-serif;
    padding-left: 1em;
    width: 70%;
    margin-left: 10%    
}

.gameContentContainer {
    width: 100%;
    height: 80%;
}

.gamefooterBar {
    width: 100%; 
    background-color:#E6E6E6; 
    height: 7%;
    display: table;
    table-layout: fixed;
}

#gameHeaderUser {
    
    padding-right: 1em;
    display: table-cell;
    height: 50%;
    text-align: right;
}
.gamePlayerObjectColour{
    display: inline-block;
    width: 15%;
    height: 50%;
    padding: 0.3em   
}

.yourTurn {
    display: none;
    position: absolute;
    text-align: center;
    width:11em;
    font-family:'Titillium Web', sans-serif;
    font-size: 35px;
    color: #2E2E2E;
    font-weight: bold;
    border: 1px solid white;
    background: #CCCCCC;
    border-radius: 1em;
}

#createPrivateGameBox {
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
}

#createPrivateGameBox input{ 
    font-size: 20px;
}
#createPrivateGameBox button{
    background: #335C85;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
}
#createPrivateGameBox button:hover{
    background: #4791FF;
    border-radius:30px;
}

.privatelobbyBox {
    width:80%;
    height: 40px;
    border:1px solid #000000;
    background-color: #555555;
    padding: 10px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 1em;
}

.privatelobbyBoxTitle{ 
}

.privatelobbyBoxData{
}

#privateGameInvite {
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    width: 25%;
}

#privateGameInvite input{ 
    font-size: 20px;
}

.textContent {
    display: inline-block;
    font-size: 20px;
}

#inviteBoxGameName {
    display: inline-block;
}

#inviteBoxInvitee {
    display: inline-block;
}

.privateGameBoxHeader {
    text-align: center;
    font-size: 30px;
}

.yesButton{
    background: #055D00;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    margin-right: 20px;
}
.yesButton:hover{
    background: #078800;
    border-radius:30px;
}
.noButton{
    background: #730000;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    margin-left: 20px;
}
.noButton:hover{
    background: #A80000;
    border-radius:30px;
}
.buttonContainer {
    text-align: center;
}

.textContainer {
    text-align: center;
}

.dataDisplay {
    display: none; 
    height:2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    color: #2E2E2E;
    background-color:#E6E6E6;
    border-radius: 35px;
}



.yourAttack {
    display: none;
    position: absolute;
    text-align: center;
    width:11em;
    font-family:'Titillium Web', sans-serif;
    font-size: 35px;
    color: #2E2E2E;
    font-weight: bold;
    border: 1px solid white;
    background: #CCCCCC;
    border-radius: 1em;
}

#helpGameBox {
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    word-wrap: break-word;
    
}

.okButton {
    background: #335C85;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    border-radius: 2px;
    -webkit-transition: 500ms;
    transition: 500ms;
    margin-right: 20px;
}
.okButton:hover{
    background: #4791FF;;
    border-radius:30px;
}

.helpBoxHeader {
    text-align: center;
    font-size: 30px;
}

.helpTextContent {
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#cardDiv {
	position:absolute;
	top:70%;
	left:10%;
	width: 450px; height: 150px;
}

#displayCardsDiv	{height: 180px; float: left}	
#cardDisplayImg		{padding-top: 25px; height: 80px}
.cards				{width: 0px; height: 130px; background-color: #1ec7e6;
					float: left; margin-left: 10px; margin-top: 10px;
					visibility: hidden; box-shadow: 10px 10px 5px #888888;}
#card1				{word-wrap: break-word;background-color: #E6E6E6; border-radius: 15px; display:none}
#card2				{word-wrap: break-word;background-color: #E6E6E6; border-radius: 15px; display:none}
#card3				{word-wrap: break-word;background-color: #E6E6E6; border-radius: 15px; display:none}
#card4				{word-wrap: break-word;background-color: #E6E6E6; border-radius: 15px; display:none}
#card5				{word-wrap: break-word;background-color: #E6E6E6; border-radius: 15px; display:none}
		

.picDiv	img			{padding-top: 4px; margin: auto; max-width: 90%; max-height: 70%; display: block}
.countryDiv			{width: 80px; visibility: hidden; text-align: center; position: relative; }


.gameEndHeader {
    text-align: center;
    font-size: 30px;
}

.gameEndContent {
    font-size: 15px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#gameEndLose {
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    word-wrap: break-word;
    text-align: center;
}

#gameEndWin {
    display: none;
    position: fixed;
    background-color:#E6E6E6;
    padding: 1em;
    top:50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%,-50%);
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    word-wrap: break-word;
    text-align: center;
}

.victoryHeader {
    color:#078800;
    font-size: 30px;
    
}

.defeatHeader {
    color: #A80000;
    font-size: 30px;
}

.incorrectCards {
    display: none;
    position: absolute;
    text-align: center;
    width:14em;
    font-family:'Titillium Web', sans-serif;
    font-size: 35px;
    color: #2E2E2E;
    font-weight: bold;
    border: 1px solid white;
    background: #CCCCCC;
    border-radius: 1em;
}

.lobbyPlayerNumbers {
    padding: 1.5em;
    padding-left: 1em;
    display: table-cell;
    text-align: left;
}

.inGamePlayerNumbers {
    padding: 1.5em;
    padding-left: 1em;
    display: table-cell;
    text-align: left;
}
